@import '_reset.scss';

@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot');
  src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff') format('woff'),
    url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf') format('truetype'),
    url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot');
  src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff') format('woff'),
    url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf') format('truetype'),
    url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'adelle_rgregular';
  src: url('https://litmus.com/fonts/Emails/adelle_reg-webfont.eot');
  src: url('https://litmus.com/fonts/Emails/adelle_reg-webfont.eot?#iefix') format('embedded-opentype'),
    url('https://litmus.com/fonts/Emails/adelle_reg-webfont.woff') format('woff'),
    url('https://litmus.com/fonts/Emails/adelle_reg-webfont.ttf') format('truetype'),
    url('https://litmus.com/fonts/Emails/adelle_reg-webfont.svg#adelle_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
}

h1 {
  font-family: 'proxima_nova_rgbold', Helvetica, Arial, sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;

}

._container {
  box-sizing: border-box;
  padding: 26px 0;

}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_1 {
  @media(max-width:1234px) {
    display: none;
  }
}

// main page

.main {
  &__container {}

  &__block {
    display: flex;
    justify-content: space-between;
    padding: 24px 16px;
    width: 1400px;
    height: 164px;
    margin: 0 0 8px 0;
    background: #FFFFFF;
    box-shadow: 2px 1px 7px rgba(0, 0, 0, 0.08), 0px 2px 1px -1px rgba(0, 0, 0, 0.04), 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 8px;

    @media(max-width:1420px) {
      margin: 10px 20px;
      width: 1200px;
    }

    @media(max-width:1350px) {
      margin: 10px 20px;
      width: 1000px;
    }

    @media(max-width:1030px) {
      margin: 10px 20px;
      height: auto;
      width: 800px;
    }

    @media(max-width:660px) {
      padding: 15px 16px;
    }

    @media(max-width:480px) {
      width: 400px;
      height: auto;
    }

  }

  &__cloumn {
    display: flex;

    @media(max-width:1030px) {
      margin: 14px 0 0 0;
    }


  }

  &__title {
    display: inline-block;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    max-width: 712px;
    cursor: pointer;
    letter-spacing: -0.625px;
    color: #3A4562;

    @media(max-width:1420px) {
      max-width: 612px;
    }

    @media(max-width:1230px) {
      max-width: 512px;
      font-size: 18px;
    }

    @media(max-width:1030px) {
      max-width: 512px;
      font-size: 15px;
    }

    @media(max-width:660px) {
      width: 300px;
      font-size: 14px;
    }

    @media(max-width:425px) {
      width: 200px;
      font-size: 13px;
      margin: 0 0 0 8px;

    }
  }

  &__name {
    margin: 8px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.23619px;
    color: #878D9D;

    @media(max-width:830px) {
      font-size: 13px;
      margin: 2px 0;
    }

    @media(max-width:425px) {
      font-size: 12px;
      margin: 0 0 0 8px;

    }
  }

  &__block-location {
    display: flex;
    align-items: center;
  }

  &__location {
    margin: 0 0 0 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.23619px;
    color: #878D9D;
    cursor: pointer;

    @media(max-width:830px) {
      font-size: 13px;
    }

    @media(max-width:425px) {
      font-size: 12px;
      margin: 0 0 0 8px;
    }

    @media(max-width:325px) {
      font-size: 12px;

    }
  }

  &__avatar {
    height: 85px;
    width: 85px;
    border-radius: 50%;
    margin: 0 26px 0 0;

    @media(max-width:1030px) {
      margin: 0 8px 0 0;
      height: 65px;
      width: 65px;
    }

    @media(max-width:425px) {
      margin: 0 8px 0 0;
      height: 50px;
      width: 50px;
    }

    @media(max-width:375px) {
      margin: 0 0 0 0;
      height: 40px;
      width: 40px;
    }
  }

  &__block-end {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__block-save {
    display: flex;
    flex-direction: column;
    gap: 90px;

  }

  &__rating {
    cursor: pointer;
    width: 96px;
    height: 18px;
    margin: 0 32px 0 0;

    @media(max-width:1030px) {
      position: absolute;
    }
  }

  &__posted {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    letter-spacing: 0.206667px;
    color: #878D9D;

    @media(max-width:1030px) {
      position: absolute;
      width: 100px;
      top: 0px;
      right: 0px;
      font-size: 12px;
      margin: 0 0 14px 0;
    }
  }

  &__save {
    cursor: pointer;
    margin-left: 114px;
    width: 16px;
    height: 18px;

    @media(max-width:1030px) {
      display: none;
    }
  }


  &__numbers {
    width: 515px;
    height: 52px;
    margin: 45px 0;
    background: #FFFFFF;
    border-radius: 8px;
  }
}


// open-job

.open-job {

  &__container {
    display: flex;
    justify-content: center;
    column-gap: 100px;

    @media(max-width:1234px) {
      align-items: center;
      flex-direction: column;
      row-gap: 100px;
    }

  }

  &__left-block {
    width: 700px;
  }

  &__header {
    display: flex;
    border-bottom: 1px #3a45626e solid;
    justify-content: space-between;

  }

  &__header-right {
    display: flex;
    align-items: center;

  }

  &__header-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.413333px;
    color: #3A4562;
    margin: 0 0 10px 0;
  }

  &__header-save {
    cursor: pointer;
    letter-spacing: -0.5625px;
    color: #3A4562;
    font-stretch: 100;

    img {
      margin: 0 15px 0 0;
    }
  }

  &__header-share {
    cursor: pointer;
    letter-spacing: -0.5625px;
    color: #3A4562;
    font-stretch: 100;
    margin: 0 0 0 24px;

    img {
      margin: 0 15px 0 0;
    }
  }

  &__main {}

  &__main-button {
    margin: 53px 0 0 0;
    background: #384564;
    border-radius: 8px;
    padding: 18px 30px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: all 0.3s ease-in-out;

    &:hover {
      background: #303b55;
    }



  }

  &__main-upper {
    display: flex;
    justify-content: space-between;
  }

  &__main-title {
    margin: 36px 0 0 0;
    max-width: 500px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.75px;
    color: #3A4562;
  }

  &__main-brutto {
    margin: 36px 0 0 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.625px;
    color: #3A4562;
  }

  &__main-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.5625px;
    color: #3A4562;

    img {
      align-items: center;
      margin: 6px 5px 0 0;
    }
  }

  &__main-post {
    margin: 7px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.5625px;
    color: rgba(56, 65, 93, 0.355988);
  }

  &__main-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.5625px;
    color: #3A4562;
    margin: 0 0 20px 0;
  }

  &__main-respons {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.625px;
    color: #3A4562;
    margin: 0 0 10px 0;
  }

  &__main-benefits {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.625px;
    color: #3A4562;
    margin: 20px 0 10px 0;
  }

  &__info-type {
    display: flex;
    column-gap: 10px;
  }

  &__info-title {

    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.413333px;
    margin: 86px 0 9px 0;
    color: #3A4562;
    border-bottom: 1px #3a45628a solid;
  }

  &__info-text {
    margin: 15px 0 10px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.5625px;
    color: #3A4562;
  }

  &__info-benefits {
    display: flex;
    column-gap: 10px;
  }

  &__info-images {
    display: flex;
    column-gap: 10px;

  }

  &__map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 402px;
    height: 408px;
    background: #2A3047;
    border-radius: 8px;
  }

  &__map-up {
    color: #E7EAF0;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.5625px;

  }

  &__map-addres {
    img {
      margin: 0 5px 0 0;
    }

    margin: 8px 0;
  }

  &__map-email {
    margin: 8px 0;
  }

  &__map-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.625px;
  }
}

.images {
  width: 209px;
  height: 115px;
  border-radius: 8px;
}

.benefits {
  width: 222px;
  padding: 17px;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.457143px;
  color: #988B49;
  background: rgba(255, 207, 0, 0.15);
  border: 1px solid #FFCF00;
  border-radius: 8px;
}

.type {
  width: 222px;
  padding: 17px;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.457143px;
  color: #55699E;
  background: rgba(161, 177, 219, 0.317343);
  border: 1px solid rgba(85, 105, 158, 0.3);
  border-radius: 8px;
}

.exit-button {
  margin: 20px 0 0 0;
  padding: 20px;
  width: 213px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #3A4562;
  background: #3845645d;
  border-radius: 8px;

  img {
    margin: 0 19px 0 0;
  }

  transition: all 1s ease-in-out;

  &:hover {
    background: #2c364e8f;
  }
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;

  &__block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 45px 0 20px 0;
    background: #FFFFFF;
    width: 515px;
    height: 52px;
    box-shadow: 2px 1px 7px rgba(0, 0, 0, 0.08), 0px 2px 1px -1px rgba(0, 0, 0, 0.04), 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 10.4px;
    column-gap: 20px;

    @media(max-width:768px) {
      width: 415px;
      height: 32px;
    }

    @media(max-width:425px) {
      width: 315px;
    }

    @media(max-width:325px) {
      width: 215px;
    }
  }

  &__separator {
    color: #DEE3EF;
    font-size: 35px;
    margin: 0 40px;

    @media(max-width:325px) {
      overflow: hidden;
    }
  }

  &__number {
    text-align: center;
    width: 30px;
    font-weight: 700;
    font-size: 20.8px;
    line-height: 25px;
    letter-spacing: 1.73333px;
    color: #70778B;
    padding: 15px 0 12px 0;
    cursor: pointer;

    transition: 0.1ms all ease-in-out;

    &:hover {
      color: #5876C5;
      border-bottom: 2.6px solid #5876C5;
    }

    @media(max-width:768px) {
      font-size: 17.8px;
    }

    @media(max-width:425px) {
      font-size: 15.8px;
    }

    @media(max-width:325px) {
      font-size: 13.8px;
    }
  }

  &__current {
    color: #5876C5;
    border-bottom: 2.6px solid #5876C5;
  }
}